.zcompdump
Music/
.zcompdump-zeram-Nitro-AN515-45-5.8.1.zwc
.local/
.shell.pre-oh-my-zsh
Code/
.bashrc
.ssh/
.dotnet/
.npm/
.oh-my-zsh/
.profile
snap/
.zcompdump-zeram-Nitro-AN515-45-5.8.1
Pictures/
Documents/
.gitconfig
.bash_logout
*.bash_history
.zshenv
my-dotfiles/
Downloads/
.rustup/
.thunderbird/
.cache/
.xinputrc
.ipython/
.sudo_as_admin_successful
Videos/
.gnupg/
.pki/
.git
Public/
.pgadmin/
.config/
.cargo/
Templates/
Desktop/
.wget-hsts
*.lesshst
.python_history
a.py
.pam_environment
.zoom/
.vscode/
.zsh_history
.jupyter/
.mozilla/