# Git 
alias gcommit="git commit"
alias gcheckout="git checkout"
alias gadd="git add"
alias gadd.="git add ."
alias gbranch="git branch"
alias gbd="git branch -D"
alias gstatus="git status"
alias gpush="git push"
alias gpull="git pull"
alias glog="git log"
alias gdiff="git diff"
alias gunadd="git unadd"
alias gfetch="git fetch"
alias gmerge="git merge"
alias grestore="git restore"
alias grebase="git rebase"
alias gconfig="git config"
alias gremote="git remote"

# Tmux
alias tnew="tmux new -s"
alias tselect="tmux a -t"
alias tdelete="tmux kill-session -t"
alias tlist="tmux ls"

# Other
alias p10k="p10k configure"
alias nvi="nvim"
alias cls="clear"
alias load="source ~/.zshrc"
alias zshrc="nvim ~/.zshrc"
alias venv="source ~/Code/.venv/bin/activate"

