# Git 
alias gcommit="git commit"
alias gcheckout="git checkout"
alias gadd="git add"
alias gadda="git add ."
alias gbranch="git branch"
alias gbd="git branch -D"
alias gstatus="git status"
alias gpush="git push"
alias gpull="git pull"
alias glog="git log"
alias gdiff="git diff"
alias gunadd="git unadd"
alias gfetch="git fetch"
alias gmerge="git merge"
alias grestore="git restore"
alias grebase="git rebase"
alias gconfig="git config"
alias gremote="git remote"

# Tmux
alias tnew="tmux new -s"
alias tselect="tmux a -t"
alias tdelete="tmux kill-session -t"
alias tlist="tmux ls"

# Shell command
alias vi="nvim"
alias cls="clear"
alias grep='grep --color=auto '

# APT
alias sagu="sudo apt-get update"
alias sagi="sudo apt-get install"

# Week number
alias week='date +%V'

# Trasnlate
alias etv="trans -b :vi"
alias vte="trans -b :en"
alias vtj="trans -b :ja"
alias etj="trans -b :ja"

# Internet
alias myip="curl https://ipinfo.io/json"
alias speed="curl -s https://raw.githubusercontent.com/sivel/speedtest-cli/master/speedtest.py | python3 -"

# Command details
alias how="cht.sh"
alias ask="tldr"

# Override command
alias cd="z"
alias ls="eza --icons=always"

# Other
alias p10k="p10k configure"
alias load="source ~/.zshrc"
alias zshrc="nvim ~/.zshrc"
alias jmeter="cd ~/jmeter/bin && ./jmeter"
alias set-background="gsettings set org.gnome.desktop.background picture-uri"
